header {
    text-align: center;
    width: 96%;
    height: 100px;
    background-color: darkslategray;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    align-content: center;
    border: 2%;
    margin: 2%;
    padding 2%;
}

nav {
    text-align: center;
    width: 96%;
    height: 100px;
    background-color: grey;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    align-content: center;
    border: 2%;
    margin: 2%;
    padding 2%;
}

section {
    text-align: center;
    width: 56%;
    height: 300px;
    display: inline-block;
    background-color: grey;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 2%;
    margin: 2%;
    padding 2%;
    align-content: center;
}

article {
    text-align: center;
    width: 92%;
    height: 200px;
    display: inline-block;
    background-color: brown;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 1%;
    margin: 1%;
    align-content: center;
}

p {
    text-align: center;
    width: 92%;
    height: 65px;
    background-color: rgb(185, 179, 179);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 1%;
    margin: 2%;
    padding 1%;
    align-content: center;
}

aside {
    float: right;
    text-align: center;
    width: 36%;
    display: inline-block;
    height: 300px;
    background-color: grey;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 2%;
    margin: 2%;
    padding 2%;
}

footer {
    clear: both;
    text-align: center;
    width: 96%;
    height: 100px;
    background-color: darkslategray;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    align-content: center;
    border: 2%;
    margin: 2%;
    padding 2%;
}